.navbar {
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    117deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(121, 9, 119, 1) 25%,
    rgba(0, 212, 255, 1) 100%
  );
  padding: 25px 25px;
}
Link{
  color: white;
  text-decoration: none;
}
